<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="cordova-plugin-android-notification-listener" 
    version="0.0.2">

    <name>AndroidNotificationListener</name>
    <description>Cordova Notification listener Plugin For Android</description>
    <license>Apache 2.0</license>
    <keywords>notification, listener, android</keywords>

    <repo>https://github.com/SinRedemption/cordova-android-notification-listener</repo>
    <issue>https://github.com/SinRedemption/cordova-android-notification-listener/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>

    <js-module src="www/android-notification-listener.js" name="AndroidNotificationListenerPluginEntry">
        <clobbers target="plugins.androidNotificationListener" />
    </js-module>

    <platform name="android">
        <!--资源配置文件-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidNotificationListenerPluginEntry">
                <param name="android-package" value="com.skynet.member.cordova.plugins.android.notifications.listener.AndroidNotificationListenerPluginEntry"/>
            </feature>
        </config-file>

        <!--应用清单-->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service 
                android:label="@string/app_name" 
                android:name="com.skynet.member.cordova.plugins.android.notifications.listener.NotificationListenerService" 
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
                <intent-filter>
                    <action android:name="android.service.notification.NotificationListenerService"></action>
                </intent-filter>
            </service>
        </config-file>

        <source-file 
            src="src/NotificationListenerService.java" 
            target-dir="src/com/skynet/member/cordova/plugins/android/notifications/listener"/>
        <source-file 
            src="src/AndroidNotificationListenerPluginEntry.java" 
            target-dir="src/com/skynet/member/cordova/plugins/android/notifications/listener"/>

    </platform>

</plugin>
